<div class="container mt-5">
  <h1 class="text-center mb-4">Visas Mājas</h1>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr class="text-center align-middle">
        <th>Numurs</th>
        <th>Iela</th>
        <th>Pilsēta</th>
        <th>Valsts</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let house of houses">
        <td class="text-center align-middle">{{ house.numurs }}</td>
        <td class="text-center align-middle">{{ house.iela }}</td>
        <td class="text-center align-middle">{{ house.pilseta }}</td>
        <td class="text-center align-middle">{{ house.valsts }}</td>
        <td class="text-center align-middle">
          <a [routerLink]="['/house', house.id]" class="btn btn-primary">Apskatīt</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

